body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}
h2 {
  font-size: 2em
}
h3 {
  font-size: 1.5em
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
textarea {
  width: 100%;
}
.machine {

}
.machine .state-row {
  border-top: solid 1px #ccc;
}
.machine .instructions .selected td {
  background: rgba(255, 0, 0, 0.3);
}
.machine .instructions .state-selected {
  color: red;
}
.machine .instructions .selected td:first-child {
  background: rgba(255, 255, 255, 0);
}
.machine .instructions {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.machine .tape {
  padding-left: 0;
  list-style: none;
}
.machine .tape li:first-child {
  border-left: solid 2px black;
}
.machine .tape li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 2px black;
  border-left: 0px;
  text-align: center;
}
.machine .tape li.selected {
  border: solid 2px red;
  margin-left: -2px;
}
